<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="applicationName" source="spring.application.name" defaultValue="GotyStore"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <threadName/>
                <message/>
                <arguments/>
                <stackTrace/>
                <mdc/>
                <pattern>
                    <pattern>{"service":"${applicationName}"}</pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <logger name="com.example.GotyStore" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>
